<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="E:\PYTHON\CAYSTI\page\prevention.css">
    <title>preventions</title>
</head>
<body style="font-family: 'georgia', Times, serif;
margin: 20px;
font-size:1.2em;">
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="padding-top: 1.2rem;
    padding-bottom: 1.3rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    font-weight: 700;
    background-color: #2c3e50 !important;
    text-transform: uppercase !important;
    background: #be3144;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;">
    <div class="container" style="cursor: pointer; color: white; font-size: 1.5em;">
        <a class="navbar-brand" href="#page-top" style="cursor: pointer; text-decoration: none;color: white;
           text-align: center;">guidoctor</a>
        <i class="fa fa-mobile" aria-hidden="true"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive" style="text-align: -webkit-match-parent;">
            <ul class="navbar-nav ms-auto" style="list-style: none; text-align: right; display: inline-block; justify-content: space-around;
                margin: -40px 40px 5px 10px ;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;">
                <li class="nav-item mx-0 mx-lg-1" style="text-align: -webkit-match-parent;"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio" style="text-decoration: none ;padding-right: 25px !important;  color: white;
                    text-align: center;">ajouter</a></li>
                <li class="nav-item mx-0 mx-lg-1" style="text-align: -webkit-match-parent;"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about" style="text-decoration: none;padding-right: 25px !important;
                    color: white; text-align: center;">tchat</a></li>
                <li class="nav-item mx-0 mx-lg-1 " style="text-align: -webkit-match-parent;"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact" style="text-decoration:none;
                    color: white; text-align: center;">Commentaire</a></li>
            </ul>
        </div>
    </div>
</nav>

<section  class="heard" style="margin: 20px; margin-top: 100px; border-radius: 5px;">
<div id="title" style="font-size:1.2em; font-weight: bold;font-family: 'Times New Roman', Times, serif;">
    <section class="title" style="background-color:  #c0e9fb; font-size:1.1em;
   ;font-family: 'georgia', Times, serif;
    ">


<section style="background-color: #ffffff;alpha(opacity=50); opacity: 0.7; ">
<center style="
font-style: italic;
font-family: 'georgia', Times, serif; font-size: 2rem"><h1>PREVENTIONS</h1></center>

<u><h3>INTRODUCTION</h3></u>
<p>Il est important de prévenir la propagation de COVID-19 car il est très contagieux et dangereux
pour certaines personnes comme celles dont le système immunitaire est défaillant, les
conditions sous-jacentes et les personnes de plus de 60 ans. Nous avons tous un rôle à jouer
dans la prévention de la transmission du COVID-19 dans nos communautés. Même si nous
sommes en bonne santé, nous devons chacun faire notre part pour aider à stopper la
propagation et à sauver la vie d'autres personnes dans notre communauté.</p>

<u><h3>LES OBJECTIFS</h3></u>

<p>Après ce module, vous devriez pouvoir :</p>
<ol>
    <li>. Pratiquer des mesures de protection pour empêcher la propagation de COVID-19
    </li>
    <li> Éduquez les gens autour de vous à prendre les mêmes précautions</li>
    <li> Comprendre l'importance du lavage des mains pour prévenir la transmission
    </li>
</ol>

<u><h3 style="text-transform: uppercase;">Leçon et contenu</h3></u>
<B><p>Que puis-je faire pour éviter de tomber malade et empêcher la transmission ?</p></B>
<ol>
    <li>. Lavez-vous les mains régulièrement avec du savon et de l'eau courante ou un
désinfectant à base d'alcool pendant au moins 20 secondes. Lave les mains :</li><br>
    <ul>
        <li>Après avoir toussé ou éternué / touché des tissus usagés</li>
        <li>Toucher des surfaces ou des objets partagé/communs</li>
        <li>Avant de toucher le visage (bouche, nez ou yeux)
</li>
        <li>Pour soigner les malades</li>
    </ul><br>
    <li>Lorsque vous toussez ou éternuez, couvrez votre bouche et votre nez
avec un coude ou un mouchoir plié. Jetez le tissu dans un bac fermé
immédiatement après utilisation et lavez-vous les mains.</li><br>
    <li>Distancez-vous des autres de 1 mètre. C'est ce qu'on appelle
la distanciation sociale. (Mettre en image)
</li><br>
    <li> Évitez les salutations physiques et les contacts avec les
autres. Au lieu de vous serrer la main, agitez, hochez la tête
pour saluer.</li><br>
    <li>Ne touchez pas vos yeux, votre nez ou votre bouche. Nous touchons notre visage 23
fois par heure avec nos mains. Les mains touchent de nombreuses surfaces et peuvent
contracter des virus. Une fois contaminée, les mains peuvent transmettre le virus aux
yeux, au nez ou à la bouche. De là, le virus peut pénétrer dans le corps et vous rendre
malade.
</li><br>
    <li>Évitez de cracher en public.</li><br>
    <li>N'assistez pas aux réunions ou événements publics. Évitez les espaces bondés.</li><br>
    <li> Nettoyez les surfaces de votre maison, de votre travail ou de votre transport que
vous utilisez avec des produits de nettoyage. Nettoyez le plus souvent possible. Cela
peut aider à réduire les germes trouvés sur ces espaces.</li><br>
    <li> RESTER À LA MAISON !</li><br>
    <p>Votre meilleur mode de protection est de rester à la maison autant que possible.
Pratiquez l'éloignement social et limitez votre interaction avec les personnes extérieures
à votre famille immédiate.</p><br>
</ol>
    </section>
    </section>
</div>
</section>
</body>
</html>