@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body{
    width:100vw;
    height:auto;
    margin:0;
    background:#f2f6fe;
    position:relative;

}

main{
    display:grid;
    grid-template-columns:1fr 7fr;

}
.main{
    display:grid;
    margin: 50px;
    padding:120px 20px;
    background: #f2f6fe;
}
.items{
    display:grid;
}



h1,h2,h3,h4,h5{
        font-family: 'Urbanist', sans-serif;
}
.sidebar{
    padding:80px 10px 0;
    background:#e0e0e0;
}
.main{
    background:#f2f6fe;
    grid-gap:20px;

}
.logo{
    background:white;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    position:absolute;
    top:0;
    left:0;
    width:300px;
}
.app_name{
    font-weight:bold;
    font-size:1.2rem;
    font-family: 'Urbanist', sans-serif;
}
button.icon{
    background:#eee;
    border:none;
    cursor:pointer;
    margin:0 0 0 20px;
    border-radius:5px;
    display:flex;
    align-items:center;
}
.menu_name{
font-family: 'Raleway', sans-serif;
font-size:0.9rem;
padding: 10px 0 0;
color:#929eb7;
}
.menu_items{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(5,1fr);
    grid-gap:25px;

}
ul.menu_items li{
    list-style:none;
    padding:5px;
}
ul{
margin:0;
padding:0;
}
a{
text-decoration:none;

}
.menu_item a{
display:flex;
flex-direction:column;
justify-content:center;
    align-items:center;
    padding:10px;
}
.menu_item a div{
    display:flex;
    justify-content:center;
    text-align:center;
}
.menu_item div:first-child{
    background:#eceff7;
    padding:5px;
    width:35px;
    height:25px;
   border-radius: 5px;
background: #e0e0e0;
box-shadow:  6px -6px 12px #cecece,
             -6px 6px 12px #f2f2f2;
}
a:hover{
    background:#eceff7;
    color:white;
}
.items{

    display: flex;
}
.items_2, .items_3, .items_4, .items_5{
    display:grid !important;
    grid-template-columns:repeat(2,1fr) !important;
}

.item{
    background: white !important;
    height:150px;
    width:50% !important;
    border-radius: 10px;
    display: block;
    margin-right: 50px;
    }
.single_prevention {
 border-radius: 100%;
 background-color: #81d2d0;
    height: 90px;
    width: 90px;
    float: left;
    position: relative;
    margin-left: -40px;
    margin-top: 30px;
    margin-right: 20px;
    }
#layer_1{
    margin-left: 10px !important;
}
#tissue{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
#animal{
width: 90px;
height: 90px;
border-radius: 100%;

}
.conseil{
margin: 30px;
font-size: 0.95rem;
}
#a2995fdc-ba4a-4390-a70c-27b90cf54d89{
    width: 813px;
    height: 302px;
    margin-top: -170px;
}