<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mode de transmission</title>
</head>
<body style="margin: 10px;
background-color: #c0e9fb;
font-family: 'georgia'">
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="padding-top: 1.2rem;
    padding-bottom: 1.3rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    background-color: #2c3e50 !important;
    text-transform: uppercase !important;
    background: #be3144;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;">
    <div class="container" style="cursor: pointer; color: white; font-size: 1.5em;">
        <a class="navbar-brand" href="#page-top" style="cursor: pointer; text-decoration: none;color: white;
           text-align: center;">guidoctor</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <i class="fa fa-mobile" aria-hidden="true"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive" style="text-align: -webkit-match-parent;">
            <ul class="navbar-nav ms-auto" style="list-style: none; text-align: right; display: inline-block; justify-content: space-around;
                margin: -40px 40px 5px 10px ;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;">
                <li class="nav-item mx-0 mx-lg-1" style="text-align: -webkit-match-parent;"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio" style="text-decoration: none ;padding-right: 25px !important;  color: white;
                    text-align: center;">ajouter</a></li>
                <li class="nav-item mx-0 mx-lg-1" style="text-align: -webkit-match-parent;"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about" style="text-decoration: none;padding-right: 25px !important;
                    color: white; text-align: center;">tchat</a></li>
                <li class="nav-item mx-0 mx-lg-1 " style="text-align: -webkit-match-parent;"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact" style="text-decoration:none;
                    color: white; text-align: center;">Commentaire</a></li>
            </ul>
        </div>
    </div>
</nav>

<section  class="heard" style="margin: 100px;">
<div id="title" style="font-size:1.2em; font-weight: bold;font-family: 'georgia', Times, serif;">
    <section class="title" style="background-color:  #c0e9fb; font-size:1.3em; font-style: italic;font-family: 'lucida calligraphy', Times, serif; ">
    <center><h1>MODE DE TRANSMISSION</h1></center></section>

<div class="info" >
    <img  width="550px" height="600px" style="float: right" src="https://www.collegelasalle.com/-/media/images/responsive/collegelasalle_montreal/news_events/2020/covid19-654x465.ashx"/>
    <p>La COVID-19 se transmet d’une personne à une autre par le contact avec les gouttelettes qui sont projetées
        dans l’air quand une personne malade parle, tousse ou éternue. Elle peut aussi se propager par des mains
        infectées portées à la bouche, au nez ou aux yeux après avoir eu un contact avec une personne ou une surface
        infectée. Les risques de transmission varient selon la nature des contacts entre les personnes (JPG 0.99 Mo).
        La transmission par des surfaces ou des objets contaminés est possible, mais ne représente pas le mode de
        transmission principal. </p>

    <p>Les connaissances actuelles ne permettent pas de préciser avec exactitude le mode de transmission de la COVID‑19.
        Il est toutefois considéré que la personne atteinte de la COVID‑19 peut être contagieuse 48 heures avant
        l’apparition de ses symptômes. Des recherches sont encore en cours.</p>

    <p>En général, les coronavirus ne survivent pas longtemps sur les objets. Ils vont survivre sur les surfaces de
        quelques heures à plusieurs jours. Cela dépend notamment du type de surface (par exemple : cuivre, carton,
        acier inoxydable, plastique), de la température et de l’humidité ambiante. Des données expérimentales récentes
        indiquent que le virus pourrait être présent jusqu’à :</p>
    <ul>
        <li>4 heures sur le cuivre;</li>
        <li>24 heures sur du carton;</li>
        <li>48 heures (2 jours) sur de l’acier inoxydable;</li>
        <li>72 heures (3 jours) sur du plastique.</li>
    </ul>
    <p>Il n’existe actuellement aucune preuve suggérant que la nourriture est une source ou une voie probable de
        transmission de la COVID-19. Le lavage usuel des fruits et légumes et l’application des bonnes pratiques de
        préparation d’aliments sont toujours recommandés.</p>

    <p>Au Québec, aucune évidence ne suggère un risque que des personnes puissent contracter la COVID‑19 par les
        animaux ou par des produits animaux.</p>

    <p>Certains virus de la famille des coronavirus causent des maladies chez les animaux et d’autres, chez les humains. Les coronavirus qui causent des maladies chez les humains peuvent se transmettre par contact étroit de personne à personne. Dans de rares cas, les coronavirus infectant les animaux peuvent aussi infecter les personnes. Comme le SARS‑CoV‑2, responsable de la COVID‑19, deux autres coronavirus ont une origine animale et causent ou ont causé des maladies graves chez l’humain, soit le SRAS‑CoV, en 2003, et le CoV‑SRMO, depuis 2012.</p>
</div>
</div>
</section>
</body>
</html>